<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drunk?</title>
</head>


<main class="">
    <header>
        <i class="fas fa-cogs" onclick="switch_settings()"></i>
        <!--
        <button class="setting cirkel" onclick="switch_settings()">    

        </button>
        -->
    </header>
    <div class="card  " onclick="switch_card()">
        <p id="text"></p>
    </div>
    <div id="setting_menu" class="hiden">
        <div id="setting">
            <div id="tags">  
                <h1>tags</h1>
                <div>
                    <label>NSFW: <input type="checkbox" id="tag1" name="tags" value="NSFW" checked></label>
                    <label>SFW: <input type="checkbox" id="tag2" name="tags" value="SFW" checked></label>
                    <label>2P: <input type="checkbox" id="tag3" name="tags" value="2P" checked></label>
                    <label>3P: <input type="checkbox" id="tag4" name="tags" value="3P" checked></label>
                    <label>FOOD: <input type="checkbox" id="tag5" name="tags" value="FOOD" checked></label>
                    <label>CLOTHES: <input type="checkbox" id="tag6" name="tags" value="CLOTHES" checked></label>
                    <label>MARKER: <input type="checkbox" id="tag7" name="tags" value="MARKER" checked></label>
                    <label>PHONE: <input type="checkbox" id="tag8" name="tags" value="PHONE" checked></label>
                </div>
            </div>
            <div id="others">
                <h1>Chance</h1>
                <div>
                    <label>MEDIUM %: <input name="medium" type="tel" min=0 max=100 value=60></label>
                    <label>HARD %: <input name="hard" type="tel" min=0 max=100 value=30></label>
                    <label>EXTREME %: <input name="extreme" type="tel" min=0 max=100 value=10></label>
                </div>    
            </div>
        </div>
        <div id="button_menu">
            <button id="comfirm" onclick="comfirm()">
                confirm
            </button>
        </div>
    </div>
</main>

{% for card in card_data %}
    <pre data-card-text="{{card.text}}" data-card-id="{{card.id}}" data-card-type="{{card.Type}}" data-card-tag="{{card.tag}}" class="hiden"></pre>
{% endfor %}

{% block javascripts %}
    <script src="https://kit.fontawesome.com/33b9e3b162.js" crossorigin="anonymous"></script>
    <script src="{{asset('script.js')}}" defer></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('style.css') }}" rel="stylesheet"/>
{% endblock %}
